* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 1518px;
  margin: 0 auto;
  background: #F4F9F8;
}

.xat {
  width: 1517px;
}

.logo {
  margin-top: 24px;
  margin-left: 36px;
}
.logo img {
  width: 40px;
  height: 30px;
}

.bosh {
  margin-top: 26px;
  width: 243px;
}
.bosh--sahifa {
  display: flex;
}
.bosh--sahifa img {
  margin-left: 36px;
}
.bosh--sahifa a {
  padding-top: 14px;
  height: 50px;
  text-decoration: none;
  color: black;
  margin-top: px;
  font-size: 15px;
  margin-left: 15px;
  font-weight: bold;
}
.bosh--sahifa a:hover {
  color: #2F9FF8;
}
.bosh--sahifa:hover {
  background-color: rgba(47, 159, 248, 0.1019607843);
  border-radius: 0 50px 50px 0;
}

.accordion-body {
  margin-left: 50px;
}
.accordion-item {
  background-color: #F4F9F8;
}
.accordion-item img {
  margin-left: 16px;
}
.accordion-button {
  background-color: #F4F9F8;
  height: 50px;
}
.accordion-button::after {
  margin-left: 65px;
}
.accordion-button:hover {
  background-color: rgba(47, 158, 248, 0.1411764706);
}

.navbar {
  margin-left: -100px;
}
.navbar img {
  margin-right: 30px;
}
.navbar .form-control::-moz-placeholder {
  color: rgba(7, 45, 75, 0.3);
}
.navbar .form-control:-ms-input-placeholder {
  color: rgba(7, 45, 75, 0.3);
}
.navbar .form-control::placeholder {
  color: rgba(7, 45, 75, 0.3);
}
.navbar span {
  position: absolute;
  margin-left: 230px;
  margin-top: 24px;
}

input {
  padding: 2px;
  background: rgba(47, 159, 248, 0.04);
  background-size: cover;
  width: 91px;
  height: 46px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 15px;
}
input::after {
  background-size: cover;
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 4px 0px 0px 4px;
  background-color: white;
  left: 0.5px;
  margin-top: -0.5px;
  transition: all 0.5s ease;
}

input:checked::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: white;
  display: block;
  border-radius: 0 4px 4px 0;
  left: 47px;
  margin-top: -0.5px;
  transition: all 0.5s ease;
  transform: rotate(0deg);
}

.chek span {
  position: absolute;
}
.chek .sun img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: -86px;
}
.chek .oy img {
  margin-left: -37px;
  margin-top: 20px;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0 50PX 50PX 0;
  width: 243px;
  height: 50px;
}

.til {
  width: 115px;
  height: 46px;
}
.til .accordion {
  position: absolute;
  margin-left: 180px;
  margin-top: -60px;
}
.til .accordion-body {
  margin-left: 0;
  cursor: pointer;
}
.til .accordion button::after {
  margin-left: 5px;
}

.set {
  display: flex;
  margin-left: 50px;
}
.set img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.celsi {
  margin-bottom: 20px;
}
.celsi .card {
  margin-left: 20px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  margin-top: 20px;
  width: 285px;
  height: 122px;
  border: none;
  background-color: rgb(255, 255, 255);
}
.celsi .card-header {
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
}
.celsi .card-header img {
  margin-left: 20px;
}
.celsi .card-body {
  margin-top: -20px;
}
.celsi .card-body span {
  font-size: 15px;
}
.celsi .card-body h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.celsi .card-body img {
  position: absolute;
  margin-left: 200px;
  margin-top: -60px;
}

.mobi {
  margin-left: 20px;
}
.mobi .card {
  border: none;
  margin-left: 0;
  width: 285px;
  height: 100px;
}
.mobi .card-title {
  font-size: 15px;
  margin-top: 16px;
  margin-left: 51px;
}
.mobi .card-bode img {
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
}
.mobi .card-text {
  margin-top: 10px;
  margin-left: 16px;
  font-size: 12px;
  color: rgb(152, 152, 152);
}
.mobi .card button {
  position: absolute;
  margin-left: 150px;
  margin-top: -55px;
  width: 110px;
  height: 38px;
}

.new {
  width: 797px;
  height: 50px;
  margin-top: 39px;
}
.new h2 {
  margin-left: -40px;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 16px;
}
.new .carousel {
  width: 797px;
  margin-left: -60px;
}
.new .carousel-item button {
  width: 100px;
  margin-left: 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}
.new .carousel-item button:hover {
  background-color: rgb(0, 0, 162);
  color: white;
}

.phone {
  width: 771px;
  height: 493px;
  background-color: white;
  margin-top: 70px;
  margin-left: -40px;
  border-radius: 4px;
  padding-top: 10px;
}
.phone--text h5 {
  font-size: 17px;
  margin-top: 10px;
}
.phone--text p {
  font-size: 14px;
  color: rgb(152, 152, 152);
}

.images img {
  width: 370px;
  height: 306px;
}
.images .tag span img {
  margin-top: 11px;
  width: 16px;
  height: 16px;
}
.images .tag h6 {
  margin-left: 5px;
  margin-top: 12px;
  font-size: 12px;
}
.images .day {
  margin-left: 190px;
}
.images .day img {
  margin-top: 11px;
  width: 16px;
  height: 16px;
}
.images .day h6 {
  margin-top: 12px;
  font-size: 11px;
  margin-left: 5px;
  color: rgb(152, 152, 152);
}

.card {
  transition: all 0.3s ease-out;
  margin-bottom: 15px;
  width: 329px;
  height: 94px;
  border: none;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0px 2px 20px 5px rgba(7, 45, 75, 0.2);
}
.card span {
  margin-left: 14px;
}
.card span img {
  margin-top: -5px;
}
.card span p {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 4px;
  color: rgb(152, 152, 152);
}
.card .work h6 {
  font-size: 15px;
  margin-left: 14px;
  margin-top: -10px;
}
.card .work h6:hover {
  color: blue;
}
.card .work img {
  margin-left: 49px;
  margin-top: -35px;
}

.gift {
  width: 285px;
  height: 120px;
  background-color: #2F9FF8;
  border-radius: 4px;
  margin-left: 20px;
}
.gift-top {
  margin-left: 68px;
  padding-top: 23px;
}
.gift-top img {
  width: 24px;
  height: 24px;
}
.gift-top p {
  margin-left: 10px;
  font-size: 15px;
  color: white;
}
.gift-bot {
  margin-left: 67px;
  margin-top: -5px;
}
.gift-bot h4 {
  color: white;
}
.gift-bot button {
  margin-left: 22px;
  width: 95px;
  height: 38px;
  background-color: rgb(7, 104, 181);
  border-radius: 4px;
  border: none;
  color: white;
}
.gift-bot button:hover {
  background-color: rgb(12, 60, 98);
}

.gif {
  background-color: #2F9FF8;
  width: 770px;
  height: 65px;
  margin-left: -40px;
  margin-top: 18px;
}
.gif img {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 21px;
}
.gif p {
  margin-top: 20px;
  margin-left: 15px;
  color: white;
}
.gif h4 {
  margin-left: 205px;
  margin-top: 17px;
  color: white;
}
.gif button {
  margin-left: 22px;
  margin-top: 15px;
  width: 95px;
  height: 38px;
  background-color: rgb(7, 104, 181);
  border-radius: 4px;
  border: none;
  color: white;
}
.gif button:hover {
  background-color: rgb(12, 60, 98);
}

.pubg {
  margin-top: 17px;
  margin-left: -53px;
}
.pubg button {
  width: 148px;
  height: 38px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 340px;
  margin-top: 10px;
}
.pubg button:hover {
  background-color: rgb(159, 159, 159);
  color: rgb(255, 255, 255);
}

.indi {
  width: 364px;
  height: 154px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
}
.indi h6 {
  position: absolute;
  rotate: 270deg;
  margin-left: -26px;
  font-size: 12px;
  margin-top: 60px;
  background-color: rgba(217, 217, 217, 0.15);
  padding: 3px 5px;
  color: silver;
  border-radius: 0px 0px 6px 6px;
}
.indi h5 {
  width: 182px;
  height: 96px;
  font-size: 17px;
  margin-top: 14px;
  margin-left: 30px;
  line-height: 24px;
}
.indi h5:hover {
  color: rgb(7, 104, 181);
}
.indi span {
  margin-left: 90px;
}
.indi span img {
  margin-left: -7px;
  margin-top: 10px;
  width: 16px;
  height: 16px;
}
.indi span p {
  margin-left: 10px;
  letter-spacing: 2px;
}
.indi img {
  position: absolute;
  width: 134px;
  height: 132px;
  margin-left: 224px;
  margin-top: 10px;
}

.fnews {
  background-color: white;
  height: 562px;
  margin-top: 20px;
}
.fnews-text {
  display: flex;
  justify-content: space-between;
}
.fnews-text h3 {
  margin-top: 40px;
  margin-left: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.fnews-text a {
  margin-top: 35px;
  text-decoration: none;
  color: rgb(7, 45, 75);
  margin-right: 66px;
  border: 1px solid rgb(7, 45, 75);
  padding: 5px 23px;
  width: 148px;
  height: 38px;
  font-size: 15px;
  border-radius: 4px;
}
.fnews-text a:hover {
  background-color: rgb(7, 104, 181);
  color: white;
}
.fnews-group .carousel {
  width: 1500px;
  text-align: center;
}
.fnews-group .carousel-item img {
  margin-left: 50px;
  height: 406px;
  border-radius: 15px;
}

.row {
  margin-right: calc(0 * var(--bs-gutter-x));
}
.row-text {
  text-align: center;
  margin-top: 42px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.army {
  margin-top: 50px;
}
.army img {
  margin-left: 50px;
  width: 974px;
  height: 663px;
  border-radius: 8px;
}

.kaan {
  width: 413px;
  height: 566px;
  background-color: white;
  border-radius: 8px;
  margin-left: -80px;
  margin-top: 50px;
}
.kaan-item {
  width: 371px;
  height: 70px;
  margin-top: 21px;
}
.kaan-item img {
  width: 125px;
  height: 70px;
}
.kaan-item p {
  padding-top: 26px;
  font-size: 15px;
  margin-left: 11px;
  font-weight: bold;
  cursor: context-menu;
}
.kaan-item span {
  font-size: 12px;
  position: absolute;
  margin-left: 160px;
  margin-top: 5px;
  cursor: context-menu;
}
.kaan-item span img {
  width: 16px;
  height: 16px;
  margin-left: -22px;
}

.bolim {
  margin-top: 58px;
  text-align: center;
  border: 1px solid black;
  width: 415px;
  height: 71px;
  margin-left: -15px;
  padding: 23px 110px;
  border-radius: 5px;
}
.bolim a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.foot {
  margin-top: 84px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 319px;
  background-image: url(../images/banner-footer1.svg);
}
.foot h1 {
  font-size: 37px;
  padding-top: 43px;
  margin-left: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.foot p {
  margin-left: 48px;
  font-weight: 700;
}
.foot span {
  font-weight: normal;
}
.foot .download {
  margin-left: 58px;
  margin-top: 46px;
}
.foot .download img {
  margin-left: 21px;
}

.site {
  background-color: white;
  height: 560px;
}
.site .contact {
  margin-left: 120px;
}
.site .contact .mail {
  margin-top: 27px;
}
.site .contact .mail a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 6px 40px;
  border-radius: 5px;
}
.site .contact .mail a:hover {
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}
.site .contact hr {
  width: 472px;
  margin-top: 190px;
  margin-left: -280px;
  rotate: 90deg;
  position: absolute;
}
.site .contact span a {
  margin-left: 10px;
  margin-top: 22px;
  display: inline;
  text-decoration: none;
  color: black;
  border: none;
}
.site .contact h4 {
  font-weight: 700;
  margin-bottom: 14px;
}
.site .contact .icon p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 16px;
}
.site .contact .icon img {
  width: 25px;
  height: 25px;
}
.site-item {
  margin-top: 87px;
  margin-left: 70px;
}
.site-item ul {
  list-style: none;
}
.site-item ul h4 {
  font-weight: bold;
  margin-bottom: 32px;
}
.site-item ul li {
  margin-bottom: 14px;
}
.site-item ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.sit-img {
  position: absolute;
  margin-left: 110px;
  margin-top: 30px;
}

.inter {
  margin-left: 106px;
  width: 975px;
  height: 132px;
  font-size: 14px;
  margin-top: -135px;
}

.sayt {
  margin-top: -250px;
  margin-left: 95px;
}
.sayt h4 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.sayt hr {
  width: 330px;
  margin-top: 30px;
}

.store {
  margin-top: 71px;
}
.store img {
  margin-right: 12px;
}

.conteiner2 {
  width: 375px;
  height: 800px;
  margin: 0 auto;
  background-color: rgb(244, 249, 248);
}
.conteiner2 .phone {
  width: 355px;
  margin-left: 10px;
  margin-top: 15px;
}
.conteiner2 .images {
  margin-bottom: 40px;
  width: 345px;
}
.conteiner2 .carousel-item img {
  width: 333px;
  height: 236px;
}
.conteiner2 .items {
  background-color: white;
}
.conteiner2 .pubg {
  margin-top: 1050px;
}
.conteiner2 .pubg button {
  margin-left: 150px;
}
.conteiner2 .songi {
  margin-left: 120px;
  font-size: 24px;
  font-weight: bold;
}
.conteiner2 .indi {
  width: 370px;
  height: 124px;
  margin-left: 42px;
}
.conteiner2 .indi h5 {
  font-size: 14px;
  margin-left: 40px;
}
.conteiner2 .indi h6 {
  margin-left: -15px;
}
.conteiner2 .indi img {
  width: 104px;
  height: 102px;
  margin-left: 260px;
}
.conteiner2 .indi span img {
  width: 12px;
  height: 12px;
  margin-top: 13px;
  margin-left: -5px;
}
.conteiner2 section {
  width: 365px;
}
.conteiner2 .navbar {
  margin-left: 0;
  margin-top: -8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.conteiner2 .navbar-nav-link {
  color: black;
}
.conteiner2 .navbar-brand {
  margin: auto;
  color: rgb(7, 104, 181);
}
.conteiner2 .navbar span img {
  margin-left: 20px;
  margin-top: 17px;
}
.conteiner2 .container-fluid {
  background-color: white;
  width: 370px;
  height: 51px;
}
.conteiner2 .container-fluid span {
  margin-top: -17px;
  margin-left: -16px;
}
.conteiner2 .container-fluid .navbar-toggler {
  width: 45px;
  height: 35px;
}
.conteiner2 .yangi-item .card {
  width: 230px;
  height: 220px;
}

.footer {
  background-color: white;
  margin-top: 700px;
  width: 375px;
  height: 68px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0px 0px;
}
.footer-item {
  display: flex;
}
.footer-cards {
  flex-wrap: wrap;
  width: 50px;
  text-align: center;
  margin-left: 20px;
}
.footer-cards img {
  width: 18px;
  height: 20px;
  margin-top: 20px;
}
.footer-cards a {
  position: absolute;
  margin-top: 40px;
  margin-left: -25px;
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.footer-cards a:hover {
  color: rgb(47, 159, 248);
}/*# sourceMappingURL=style.css.map */